.dash-container{
    height: 100vh;
}

.dash-nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.side-area{
    display: flex;
    align-items: center;
    gap:15px;
}

.dash-nav {
  border-bottom: 2px solid black;
}

.room-space{
display: flex;
justify-content: space-between;
padding:10px;
margin:10px;
}

.Rooms{
    margin:20px;
}

.Room-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border:3px solid black;
    border-radius: 4px;
}

.create-room{
    padding:5px 10px;
    cursor: pointer;
}

.open{
    padding:5px 20px;
    cursor: pointer;
}

.logout-button{
padding: 5px 10px;
}

.input-box{
    display: flex;
    margin-bottom: 15px;
    gap:10px;
    padding: 5px 10px;
}

.input-box input{
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex:1;
}

.input-box button{
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    border:none;
    background-color: blue;
    color:white;
}