.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-box {
  width: 340px;
  padding: 80px 50px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.login-box form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login-box input {
  padding: 10px;
  border:1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
}

.submit {
  width: 100px;
  padding: 10px;
  align-self: center;
  width: 100%;
  background-color: #667eea;
  color:white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.login-error {
  color:red;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.p {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.p a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: 600;
  margin-left: 5px;
}

